html {
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
}

#__next {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
}

.main {
  margin: 0;
  background: linear-gradient(to left top, rgb(45, 45, 45), rgb(25, 25, 25));
  width: 100%;
  min-height: 100%;
  height: 100%;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(40, 40, 40);
  height: 100%;
  width: 16vw;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  border: 0.2vw solid rgb(60, 60, 60);
  padding: 1vw;
  background-color: rgb(80, 80, 80);
}

nav ul li:hover, nav ul li:focus {
  background-color: rgb(120, 120, 120);
}

nav ul li:active {
  background-color: rgb(30, 30, 30);
}

.li {
  text-decoration: none;
  color: white;
  font-size: 130%;
}

.nk {
  width: 6vw;
  position: absolute;
  bottom: 0;
}

.current_page, .current_page:hover, .current_page:focus, .current_page:active {
  background-color: rgb(30, 30, 30);
  color: rgb(160, 160, 160);
}

.main_content {
  margin: 0 10vw 0 26vw;
  text-align: center;
}

.para {
  font-size: 140%;
}

.item_list {
  display: grid;
  margin: 3vw 0 3vw 0;
}

.trois {
  grid-template-columns: 1fr 1fr 1fr;
}

.deux {
  grid-template-columns: 1fr 1fr;
}

.item img {
  width: 10vw;
}

.big_item img {
  width: 25vw;
}

.big_item h3 {
  font-size: 150%;;
}

.big_item p {
  padding : 0 2vw 0 2vw;
}

.language {
  position: relative;
}

#language-picker {
  text-align: center;
  position: relative;
}

#language-picker button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
}

#language-picker .en {
  background-image: url('../public/uk.png');
}

#language-picker .fr {
  background-image: url('../public/france.png');
}

.dropdown {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 48em) {
  html {
      font-size: 1.6vw;
  }
}

@media screen and (min-width:66em) {

  html {
      font-size: 1.2vw;
  }
  #language-picker button {
      width: 6.5vw;
  }
}