/* General */

html {
  font-size: 2.4vw;
  font-family: "Roboto", sans-serif;
  color: white;
  width: 100%;
  height: 100%;
  user-select: none;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
}

#__next {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: flex;
}

.main {
  margin: 0;
  background: linear-gradient(to left top, rgb(45, 45, 45), rgb(25, 25, 25));
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/* Navigation Menu */

nav {
  position: relative;
  left: 0;
  top: 0;
  background-color: rgb(40, 40, 40);
  width: 100%;
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 70%;
}

nav ul li {
  border: 0.2vw solid rgb(60, 60, 60);
  padding: 1vh;
  background-color: rgb(80, 80, 80);
  display: inline-block;
}

nav ul li:hover, nav ul li:focus {
  background-color: rgb(120, 120, 120);
}

nav ul li:active {
  background-color: rgb(30, 30, 30);
}

.li {
  text-decoration: none;
  color: white;
  font-size: 130%;
}

.nk {
  height: 8vw;
  position: absolute;
  right: 0;
  top: 1vh;
}

.current_page, .current_page:hover, .current_page:focus, .current_page:active {
  background-color: rgb(30, 30, 30);
  color: rgb(160, 160, 160);
}

/* Main Content */

.main_content {
  margin: 5vh 10vw 0 10vw;
  text-align: center;
}

.para {
  font-size: 140%;
}

/* Items Animation (Skills and projects) */

.main_content_child:nth-child(1), .main_content_child:nth-child(3), .main_content_child:nth-child(2) > *, .main_content_child:nth-child(4) > * {
  animation: fadeIn 0.6s linear;
  animation-fill-mode: both;
}

.main_content_child:nth-child(1) {
  animation-delay: 0s;
}

.main_content_child:nth-child(2) .item:nth-child(1), .main_content_child:nth-child(2) .big_item:nth-child(1) {
  animation-delay: 0.6s;
}

.main_content_child:nth-child(2) .item:nth-child(2), .main_content_child:nth-child(2) .big_item:nth-child(2) {
  animation-delay: 1.2s;
}

.main_content_child:nth-child(2) .item:nth-child(3), .main_content_child:nth-child(2) .big_item:nth-child(3), #main_content_subtext {
  animation-delay: 1.8s;
}

.main_content_child:nth-child(2) .item:nth-child(4), .main_content_child:nth-child(2) .big_item:nth-child(4) {
  animation-delay: 2.4s;
}

.main_content_child:nth-child(2) .item:nth-child(5) {
  animation-delay: 3s;
}

.main_content_child:nth-child(2) .item:nth-child(6) {
  animation-delay: 3.6s;
}

.main_content_child:nth-child(2) .item:nth-child(8) {
  animation-delay: 4.2s;
}

.main_content_child:nth-child(3) {
  animation-delay: 0s;
}

.main_content_child:nth-child(4) .item:nth-child(1) {
  animation-delay: 0.6s;
}

.main_content_child:nth-child(4) .item:nth-child(2) {
  animation-delay: 1.2s;
}

.main_content_child:nth-child(4) .item:nth-child(3) {
  animation-delay: 1.8s;
}

.main_content_child:nth-child(4) .item:nth-child(4) {
  animation-delay: 2.4s;
}

.main_content_child:nth-child(4) .item:nth-child(5) {
  animation-delay: 3s;
}

.main_content_child:nth-child(4) .item:nth-child(6) {
  animation-delay: 3.6s;
}

.main_content_child:nth-child(4) .item:nth-child(7) {
  animation-delay: 4.2s;
}

.main_content_child:nth-child(4) .item:nth-child(8) {
  animation-delay: 4.8s;
}

.main_content_child:nth-child(4) .item:nth-child(9) {
  animation-delay: 5.6s;
}

@keyframes fadeIn  {
  0% {
     opacity:0;
  }
  
  75% {
     opacity:0.6;
  }
  
  100% {
     opacity:2;
  }
}

/* Items (Skills and projects) */

.item_list {
  display: grid;
  margin: 3vw 0 3vw 0;
}

.trois {
  grid-template-columns: 1fr 1fr 1fr;
}

.deux {
  grid-template-columns: 1fr 1fr;
}

.bigDeux {
  grid-template-columns: 1fr;
}

.item img {
  width: 10vw;
}

.big_item a img {
  width: 50vw;
  transition: 0.2s;
  opacity: 80%;
}

.big_item a:active img, .big_item a:focus img, .big_item a:hover img {
  width: 64vw;
  opacity: 100%;
  transition: 0.5s;
}

.big_item h3 {
  font-size: 150%;;
}

.big_item p {
  padding : 0 2vw 0 2vw;
}

/* Main page */

.cv {
  text-decoration: none;
  padding: 0.5vw;
  border: 0.2vw solid black;
  border-radius: 20px;
  background-image: linear-gradient(144deg,#230c34, #130e38 50%,#002f32);
  color: #FFFFFF;
  justify-content: center;
  transition: background-image 3000ms ease-in-out;
}

.cv:focus, .cv:hover {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  color: black;
  transition: background-image 3000ms ease-in-out;
}

/* Contacts */

#contacts {
  text-align: left;
  font-size: 140%;
  margin-top: 5vw;
  list-style: none;
  padding: 0;
}

#contacts li {
  margin-top: 2vw;
}

.copyclick {
  margin-left: 1vw;
  font-size: 65%;
}

.copyclick img {
  height: 2.9vw;
  margin-right: 1vw;
}

.icon {
  width: 5vh;
  padding-right: 1.4vh;
  position: relative;
  top: 1vh;
}

#contacts li a, #mail {
  color: white;
  text-decoration: none;
  padding: 0.3vw;
}

#contacts li a:hover, #contacts li a:focus {
  background-color: rgb(120, 120, 120);
}

/* Language Picker */

.language {
  position: absolute;
  top: 4.25vh;
  right: 10vw;
}

#language-picker {
  text-align: center;
  position: relative;
}

#language-picker button {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
}

#language-picker .en {
  background-image: url('../public/uk.png');
}

#language-picker .fr {
  background-image: url('../public/france.png');
}

.dropdown {
  position: relative;
  z-index: 1;
}

/* Media Queries */

@media screen and (min-width:48em) {

  html {
    font-size: 1.8vw;
  }

  .copyclick {
    margin-left: 0.4vw;
  }

  .copyclick img {
    height: 2.25vw;
    margin-right: 0.4vw;
  }

}

@media screen and (min-width:66em) {

  html {
      font-size: 1.2vw;
  }

  .copyclick img {
    height: 1.5vw;
  }

  #language-picker button {
      width: 6.5vw;
  }

  nav {
    position: fixed;
    height: 100%;
    width: 16vw;
    display: block;
  }

  nav ul {
    width: 100%;
  }

  nav ul li {
    display: list-item;
    padding: 1vw;
  }

  .nk {
    bottom: 0;
    top: unset;
    right: unset;
    left: 0;
    width: 6vw;
    height: 6vw;
  }

  .main_content {
    margin: 0 10vw 0 26vw;
  }

  .language {
    position: relative;
    top: unset;
    right: unset;
  }

  .icon {
    width: 2.5vw;
    padding-right: 0.7vw;
    top: 0.5vw;
  }

  .bigDeux {
    grid-template-columns: 1fr 1fr;
  }

  .big_item a img {
    width: 25vw;
  }

  .big_item a:active img, .big_item a:focus img, .big_item a:hover img {
    width: 32vw;
  }

}